
/* FUNDAMENTAL STYLES */
h1{
    font-weight: bold;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

p{
    color: black;
    font-family: merriweather;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

body{
    /* background-color: #DCDCDC; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* NAVBAR */
#navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: calc(1px + 1vh);
    border-right: 4px solid;
    height: 100%;
    width: 25%;
    background-color: #F29200;
    /* align-self: start; */
}

#navbar>h1{
    display: flex;
    /* padding: calc(10px + 0.5vw); */
    font-size: calc(20px + 0.5vw);
    margin: calc(10px + 0.5vw);
    border-bottom: 2px black solid;
}

#navbar>a>p{
    display: flex;
    /* padding: calc(10px + 0.5vw); */
    font-size: calc(20px + 0.5vw);
    margin: calc(10px + 0.5vw);
}

.navbar-text{
    display: flex;
    /* padding: calc(10px + 0.5vw); */
    font-size: calc(20px + 0.5vw);
    margin: calc(10px + 0.5vw);
}

.navbar-image{
    border-radius: 50%;
    border: black solid 4px;
    /* border-width: 2px; */
    height: 300px;
    width: 300px;
    margin: calc(10px + 0.5vw);
}

/* MAIN TEXT AREA */
#main-area{
    /* position: fixed;
    left: 50%;
    top: 50%; */
    height: 100%;
    width: 100%;
    font-family: merriweather;
    display: flex;
    flex-direction: row;
}

.transition-fade {
    transition: 0.2s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}


/* fonts */
@font-face {
    font-family: merriweather, serif;
    src: url(https://use.typekit.net/zwn2vse.css);
}

