
/* FUNDAMENTAL STYLES */
h1{
    font-weight: bold;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

p{
    color: black;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

html, body{
    min-height: 100%;
    font-family: merriweather;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10vh 20vh 0vh 20vh
    /* height: 100vh; */
}

#landing-left{
    box-sizing: border-box;
    /* padding-left: 20vh; */
    /* padding-top: 10vh; */
    margin-right: 10vw;
    display: flex;
    flex-direction: column;

}

.picture{
    margin-top: 2.5vh;
}

a{
    text-decoration: none;
    color: blue;

}

a:hover{
    text-decoration: underline;
}


/* fonts */
@font-face {
    font-family: merriweather, serif;
    src: url(https://use.typekit.net/zwn2vse.css);
}

.musing-post {
    max-width: 50vw;
    margin-bottom: 3vh;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.musing-post:hover {
    cursor: pointer;
    background-color: #ffffc5;
}

.musing-content{
    max-height: 0px;
    overflow: hidden;
}

#musing-post-template{
    visibility: hidden;
}

p{
    max-width: 50vw;
    line-height: 1.75em;
}

table{
    margin-top: 2vh;
}

table#plant-table > tbody > tr > td {
    padding: 0 15px 0 0;
}

caption{
    caption-side: bottom;
}

.back-button{
    margin-bottom: 1.5vh;
    display: inline-block;
}

h2{
    font-size: 1.25em;
}

/* CSS */
button {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

#musing-buttons {
    margin: 1vh 0 3vh 0;
}