
/* FUNDAMENTAL STYLES */
h1{
    font-weight: bold;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

p{
    color: black;
    font-family: merriweather;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

body{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    justify-content:    center;
    height: 100vh;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* NAVBAR */
#navbar{
    display: flex;
    justify-content: center;  
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

.navbar-text{
    display: flex;
    margin-left: calc(5px + 0.5vw);
    margin-right: calc(5px + 0.5vw);
}

/* MAIN TEXT AREA */
#main-area{
    /* position: fixed;
    left: 50%;
    top: 50%; */
    font-family: merriweather;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* fonts */
@font-face {
    font-family: merriweather, serif;
    src: url(https://use.typekit.net/zwn2vse.css);
}

